.contenedor{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 200px;
    height: 200px;
    margin: 0 10px;
}
.azul{
    background-color: blue;
}
.rojo{
    background-color: red;
}
.verde{
    background-color: green;
}
.amarillo{
    background-color: yellow;
}
#key{
    width: 200px;
    height: 200px;
    border: 2px solid black;
}